{:source-paths ["src/main" "src/test"]
 :dependencies [[commons-codec/commons-codec "1.15"]
                [com.github.ljpengelen/shadow-cljs-hash-assets-hook "1.1.0"]
                [org.flatland/ordered "1.15.10"]
                [reagent "1.1.0"]]
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :build-hooks [(shadow-cljs-hash-assets-hook/hash-assets! {:source-root "public"
                                                                          :target-root "docs"
                                                                          :index "index.html"
                                                                          :files ["css/site.css" "js/app.js"]
                                                                          :release-mode-only? true})]
                :modules {:app {:entries [rsi.core]}}
                :devtools {:after-load rsi.core/mount-root}}
          :test {:target :node-test
                 :output-to "out/node-tests.js"
                 :autorun true}}
 :dev-http {3000 "public"}}
