;; Trigger menu with custom snippents
;; with control + option + c followed by space
{:customREPLCommandSnippets
 [{:name "Run tests"
   :snippet "(cljs.test/run-all-tests #\"rsi.*-test\")"
   :key "t"}]}
